<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotos - BATMAN</title>
</head>
<body>
    <nav>
        <ul>
            <a href="{{ url_for('home') }}">
                <li>Home</li> 
            </a>
            <a href="{{ url_for('contato') }}">
                <li>Contato</li>
            </a>                                                                         
            <a href="{{ url_for('fotos') }}">
                <li>Fotos</li>
            </a>
            <a href="{{ url_for('comentarios') }}">
                <li>Comentários</li>
            </a>
        </ul>
    </nav>
    
    <h1>Página de Fotos</h1>
    <p>Funcionou!</p>
</body>
</html>